@media only screen and (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 1536px) {
  html {
    font-size: 125%;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 150%;
  }
}